## Directory-based project format
*.sublime-*
*.zip
.DS_Store
.fuse_*
.idea/*
.log
.project
.nexus
.sass-cache
.tmp
build
coverage
dist
docs
lib
report
node_modules
npm-debug.log

*.iml
.target
target/
support-install/package-lock.json
**/target
**/*.jar

edgerouterstub/
